.results > div {position: relative;}

/* --------- VIEW TOGGLE BUTTON START --------- */
.viewButton {
    color: $mediumGrey;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0; 
}

.viewToggle {
    height: 15px;
    width: 40px;
    background-color: #a1afff;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
        &::after{
            content: '';
            height: 20px;
            width: 20px;
            background-color: $darkBlue;
            border-radius: 50%;
            box-shadow: 0 0 5px 2px #2b316857; 
            position: absolute;
            top: -2px; 
            transition: all 0.2s;
    }
}
/* Moves the button left from its initial position*/
.move::after {transform: translateX(-20px);}

/* --------- VIEW TOGGLE BUTTON END --------- */

/* Top results section - Results*/
.subSection1 {
    border-top: $lightGreyBorder;
    border-bottom: $lightGreyBorder;  
    ul { 
        display: flex;  
        justify-content: space-between;
        margin-bottom: 20px;
            li:last-of-type{text-align: right;}
            p:first-of-type {
                font-size: 1.8rem;
                font-weight: 600;
            }
            p:last-of-type{
                color: $mediumGrey;
                font-size: 1.5rem;
        } 
    } 
} 

@media (max-width: 480px) {  
    .subSection1 ul {
        text-align: center;
        flex-direction: column;
        li{margin-bottom: 10px;}
        p:first-of-type{
            font-size: 2rem;  
        } 
        li:last-of-type{text-align: center;}
    }
}

.subSection1,
.subSection2 {padding: 20px 0;}  

/* --------- SUBSECTION 1 START --------- */
.percentResults { 
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
}

.percentExpenses {color:$brightBlue;}
 
.row2 {
    font-weight: 500;
    margin-top: 10px;
}
.row3 {
    color: $mediumGrey; 
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.row2, .row3 {
    display: flex;
    justify-content: space-between;
}

.percentSpend { 
    width: 100%;
    height: 10px;
    margin: 0 auto;
    background-color: $greyInputBackground;
    border: none;
    border-radius: 10px;
        div { 
            height: 100%;
            width: 0;
            background-color: $brightBlue;
            border-radius: 10px; 
            transition: all 0.8s;
    } 
}
/* --------- SUBSECTION 1 END --------- */

/* --------- SUBSECTION 2 START --------- */
/* Subheading under "Expense Summary" */
.subHeading {
    color: $mediumGrey; 
    text-align: center; 
    span {text-decoration: underline;}
}

/* Buttons to toggle between Bar and Pie charts*/
.resultButtons {
    text-align: center;
    margin: 20px auto 40px auto; 
    color:#b3b3b3;
    font-size: 1.4rem; 
    button { 
        width: 85px;
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #b3b3b3;
        border-radius: 15px;
        transition: all 0.2s; 
    } 
} 

.active {
    color: grey;
    border: 1px solid grey;
}

/*  --------- Pie chart start --------- */
.pieChartContainer {position: relative;}

canvas { 
    display: none;
    max-width: 290px;
    margin: 20px auto 0 auto; 
}
/*  --------- Pie chart end  --------- */

/* --------- Bar chart start  --------- */
/* Bar chart - container*/
.barChartContainer {
    width: 200px;
    text-transform: capitalize;
    margin: 20px auto; 
    div {height: 10px;}
    li {margin: 10px 0;}
}

/* Bar chart - fill backgrounds */
.background {
    width: 100%;
    height: 10px;
    background-color: $greyInputBackground;
    border: none;
    border-radius: 10px;
        div {border-radius: 10px;}
}

/* Bar chart - fill colours */
.color {
    width: 0;
    transition: all 0.6s;
}
/* --------- Bar chart end --------- */
.warning span,
.warning i {
    color: tomato; 
    font-style: oblique; 
    line-height: 20px;
} 
/* --------- SUBSECTION 2 END --------- */