$black: #3d3d3d;
$darkGrey: #575757;
$mediumGrey: grey;
$lightGrey:#b3b3b3;
$mainBackground: #eaecee;
$greyInputBackground: #f0f0f0;
$paleBlue: #6072ca;
$yellow: #ffca1b;
$brightBlue: #3abcc0;
$darkBlue: #4a62e9;
$red: #ec806d;
$green: #95c76c;
$boxShadow: 0 5px 10px 5px #3d3d3d14;  
$inputBorder: 1px solid $greyInputBackground;
$lightGreyBorder: 1px solid $mainBackground;
$mediumGreyBorder: 1px solid $mediumGrey;  