@import 'setup';

/* GENERIC OVERRIDES */
body,
ul,
li,
h1,
h2,
h3,
fieldset,
button,
p {
	margin: 0;
    padding: 0;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

ul {list-style: none;}

button {
    background-color: inherit;
    font-family: inherit; 
    color: inherit;
}

input,
button,
fieldset {border: none;}

.pointer {cursor: pointer;}

/* default wrapper - DON'T CHANGE */
.wrapper {
	width: 85%;
	max-width: 1050px;
	margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

header {padding: 20px;}

h2,
h3 {margin-bottom: 20px;}

h3,
footer {text-align: center;}

main {display: flex;}

.form,
.results {
    width: calc(50% - 10px);
    border: 0.5px solid none; 
    box-shadow: 0 0 10px 5px #3c3c3c14; 
    padding: 40px;
}

.results {margin-left: 20px;}

// FORM STARTS HERE  
form[name="calculator"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width: 100%;  
}

.formLine { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;   
    text-transform: capitalize;
}

input[type="number"] {
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    width: 150px;
    padding: 5px;
    padding-left: 20px; 
    color: grey;
    /* Hide increment arrows in Firefox */ 
    -moz-appearance:textfield;

    &:active,
    &:focus {
        color: black;
        border: 1px solid #3abcc0;
        border-radius: 5px;
    }
}

/* Hide increment arrows in Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField {
    display: flex;   
        span { 
        text-align: center; 
        width: 25px;  
        padding: 5px;
        display: inline-block;
        position: absolute;
        color: grey;
    }
}

.expensesField {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px; 
}

.newLine { 
    position: absolute; 
    font-size: 1.4rem; 
    border-radius: 15px;
    background-color: white;
    bottom: -12px;
    right: 0;
    padding: 5px 10px;
    box-shadow: 0 0 5px 1px #3c3c3c44;  
}

.form button[type="submit"] { 
    font-family: inherit;
    font-weight: 600;
    background-color:#ffca1b;   
    margin: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;

    &:focus,
    &:hover {background-color:#eebf25;}
}

.form button[type="reset"] {
    color: #757575;
    margin: 10px;
    &:focus,
    &:hover {text-decoration: underline;}
}

// Modal pop-up 
.modal { 
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10; 
    background-color: #1b1b1b15;
    form { 
        font-size: 1.4rem;
        border: 1px solid #d4d4d4;
        margin: auto;
        height: 150px;
        width: 300px;  
        box-shadow: 0 0 5px 5px #24242407; 
        background-color: white;
        position: relative;
        & > button {  
            position: absolute;
            top: 5px;
            right: 5px;
            i {
                color: #363636;
                font-size: 1.6rem;
            }
        }
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-1 {
        flex-direction: column;
        height: 65%;
        label {
            margin-bottom: 5px;
        }
        input {
            border: 1px solid grey;
            padding: 5px;
        }
    }
    .box-2 {
        height: 35%; 
        border-top: 1px solid #d4d4d4;
        background-color: #f1f1f1;
            button {  
                color: #3b3b3b;
                border: 1px solid grey;
                border-radius: 5px;
                padding: 5px 10px;
        }
    }
}
// FORM ENDS HERE

.results > div {
    position: relative;
}

.viewButton {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    color: #6b6b6b;
    span {
        font-size: 1.4rem;
        margin-right: 10px;
    }
}

.viewToggle {
    height: 15px;
    width: 40px;
    background-color: #adadad;
    border-radius: 10px;
    cursor: pointer;
    &::after{
        content: '';
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 10px 1px #3c3c3c44; 
        position: absolute;
        top: -2px; 
        transition: all 0.3s;
    }
}
.move::after {transform: translateX(-20px);}

.subSection1 {
    border-top: 1px solid #d8d8d8; 
    border-bottom: 1px solid #d8d8d8;  
    ul { 
        display: flex;  
        justify-content: space-between;
        margin-bottom: 20px;
        li:last-of-type{
            text-align: right;
        }
        p:first-of-type {
            font-weight: 600;
            font-size: 1.8rem;
        }
        p:last-of-type{
            color: grey;
            font-size: 1.5rem;
        } 
    } 
} 

.subSection1,
.subSection2{
    padding: 20px 0;
}

.percentResults { 
    margin: 0 auto; 
    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    } 
    div:first-of-type {
        font-weight: 500;
    }
    div:last-of-type {
        color: grey; 
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
}
.percentExpenses {color:#3abcc0;}

.percentSpend { 
    width: 200px;
    height: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    div { 
        height: 100%;
        background-color: #3abcc0;
        border-radius: 10px; 
    } 
}

.background {
    width: 200px;
    height: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    div {
        border-radius: 10px;
    }
}

.percentages {
    text-transform: capitalize;
    div {height: 10px;}
    li {margin: 10px 0;}
}

footer {
    font-size: 1.4rem;
    padding: 20px 0;
}

/* MEDIA QUERIES */
/* Tablet screens */
@media (max-width: 768px) {  
    main {flex-direction: column;}

    section.form,
    section.results {
        width: 100%;
        margin-left: 0;
        margin-bottom: 50px;
    }
}

/* Mobile screens */
@media (max-width: 480px) { 
    .formLine {
        flex-direction: column;
            label {
                margin-bottom: 5px;
        }
    } 
}