@import 'variables';
@import 'setup';
@import 'global';

.display {display: block;}

/* default wrapper - DON'T CHANGE */
.wrapper {
	width: 80%;
	max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}
/* Small laptop screens */
@media (max-width: 1090px) {  
    .wrapper { 
        flex-direction: column;
        align-items: center;
    }
}
/* Mobile screens */
@media (max-width: 480px) {  
    .wrapper{width: 100%;} 
}

body {
    min-width: 350px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: $black
}
/* Mobile screens */
@media (max-width: 480px) { 
    body {font-size: 1.4rem;}  
}

header {
    padding: 20px;
    background-color: white;  
    box-shadow: $boxShadow; 
}

h1 {
    color: $paleBlue;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;  
}

h2 {font-size: 2.2rem;}

h2,
h3 {margin-bottom: 20px;}

h3,
footer {text-align: center;}

/* Font sizing */
footer,
.formButtons, 
.viewButton,
.subHeading {
    font-size: 1.4rem;
} 

/* Removes the red box shadow around required inputs*/
input:required {box-shadow: none;}

main {
    background-color:$mainBackground;
    padding-bottom: 20px;
} 

/*  --------- Form section --------- */
@import 'form'; 
/*  --------- Modal pop-up box --------- */
@import 'modal'; 
/*  --------- Results section --------- */
@import 'results';
/*  --------- Footer --------- */
footer {
    background-color:$mainBackground;
    padding: 20px 0;
} 