html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

/* GENERIC OVERRIDES */
body,
ul,
li,
h1,
h2,
h3,
fieldset,
button,
p {
  margin: 0;
  padding: 0;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
}

input,
button,
fieldset {
  border: none;
}

.display {
  display: block;
}

/* default wrapper - DON'T CHANGE */
div.wrapper {
  width: 80%;
  max-width: 1050px;
  margin: 0 auto;
}

div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* Small laptop screens */
@media (max-width: 1090px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
}

body {
  min-width: 350px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: #3d3d3d;
  background-color: #eaecee;
}

header {
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px 5px #5f5f5f14;
          box-shadow: 0 5px 10px 5px #5f5f5f14;
}

h1 {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

/* Mobile screens */
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 2.2rem;
}

h2,
h3 {
  margin-bottom: 20px;
}

h3,
footer {
  text-align: center;
}

/* Font sizing */
footer,
.formButtons,
.viewButton,
.subHeading {
  font-size: 1.4rem;
}

/* Removes the red box shadow around required inputs*/
input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main {
  padding-bottom: 20px;
}

.svg {
  position: relative;
  bottom: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  height: auto;
  margin-top: 20px;
  min-width: 250px;
  width: 65%;
  z-index: 0;
}

/*  --------- Form section --------- */
.form {
  position: relative;
}

.form,
.results {
  min-width: 400px;
  width: 48%;
  margin-top: 50px;
  padding: 40px;
  border: 0.5px solid none;
  -webkit-box-shadow: 0 0 10px 5px #3c3c3c02;
          box-shadow: 0 0 10px 5px #3c3c3c02;
  background-color: white;
}

/* Tablet screens */
@media (max-width: 768px) {
  .form, .results {
    min-width: inherit;
    width: 100%;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .form, .results {
    padding: 30px;
  }
}

/* Main form */
form[name="calculator"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

fieldset {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #eaecee;
}

.formLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 10px;
}

/* Mobile screens */
@media (max-width: 480px) {
  .formLine label {
    margin-bottom: 5px;
  }
}

input[type="number"] {
  font-family: inherit;
  color: grey;
  background-color: #f0f0f0;
  width: 150px;
  padding: 8px 8px 8px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  /* Hide increment arrows in Firefox */
  -moz-appearance: textfield;
}

input[type="number"]:active, input[type="number"]:focus {
  color: #3d3d3d;
  border: 1px solid #6072ca;
  border-radius: 5px;
}

/* Hide increment arrows in Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputField span {
  display: inline-block;
  color: grey;
  text-align: center;
  width: 25px;
  padding: 5px;
  position: absolute;
}

.inputField button {
  display: none;
  color: #b3b3b3;
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.inputField button:hover, .inputField button:focus {
  color: #ec806d;
}

/* Add Line and Delete Line buttons */
.formButtons {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formButtons button {
  width: 120px;
  color: #575757;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #b3b3b3;
  border-radius: 15px;
  background-color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.formButtons button:hover, .formButtons button:active {
  color: #3d3d3d;
  -webkit-box-shadow: 0 0 5px 2px #3c3c3c2d;
          box-shadow: 0 0 5px 2px #3c3c3c2d;
}

/* Icons inside Add Line and Delete Line */
.fa-plus-circle {
  color: #95c76c;
}

.fa-minus-circle {
  color: #ec806d;
}

/* Submit Button */
.form button[type="submit"] {
  font-weight: 500;
  color: white;
  background-color: #6072ca;
  margin: 10px;
  padding: 10px 30px;
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form button[type="submit"]:focus, .form button[type="submit"]:hover {
  background-color: #4a62e9;
}

/* Reset Button */
.form button[type="reset"] {
  color: #4a62e9;
  margin: 10px;
}

.form button[type="reset"]:focus, .form button[type="reset"]:hover {
  text-decoration: underline;
}

/*  --------- Modal pop-up box --------- */
.modalOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #0000003a;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modalOuter form {
  height: 200px;
  width: 300px;
  margin: auto;
  background-color: white;
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 0 5px 5px #24242407;
          box-shadow: 0 0 5px 5px #24242407;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalOuter form > button[type="button"] {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modalOuter form i {
  color: #575757;
  font-size: 1.6rem;
}

.modalOuter label {
  margin-bottom: 5px;
}

.modalOuter input {
  font-family: inherit;
  width: 180px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.modalOuter input:hover, .modalOuter input:focus {
  border: 1px solid #6072ca;
}

.modalOuter button[type="submit"] {
  margin-top: 25px;
  color: white;
  background-color: #6072ca;
  border-radius: 25px;
  padding: 10px 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modalOuter button[type="submit"]:focus, .modalOuter button[type="submit"]:hover {
  background-color: #4a62e9;
}

.modalOuter.visible {
  opacity: 1;
  pointer-events: all;
}

/*  --------- Results section --------- */
.results > div {
  position: relative;
}

/* --------- VIEW TOGGLE BUTTON START --------- */
.viewButton {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.viewToggle {
  height: 15px;
  width: 40px;
  background-color: #a1afff;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.viewToggle::after {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #4a62e9;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 2px #2b316857;
          box-shadow: 0 0 5px 2px #2b316857;
  position: absolute;
  top: -2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* Moves the button left from its initial position*/
.move::after {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

/* --------- VIEW TOGGLE BUTTON END --------- */
/* Top results section - Results*/
.subSection1 {
  border-top: 1px solid #eaecee;
  border-bottom: 1px solid #eaecee;
}

.subSection1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.subSection1 ul li:last-of-type {
  text-align: right;
}

.subSection1 ul p:first-of-type {
  font-size: 1.8rem;
  font-weight: 600;
}

.subSection1 ul p:last-of-type {
  color: grey;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .subSection1 ul {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subSection1 ul li {
    margin-bottom: 10px;
  }
  .subSection1 ul p:first-of-type {
    font-size: 2rem;
  }
  .subSection1 ul li:last-of-type {
    text-align: center;
  }
}

.subSection1,
.subSection2 {
  padding: 20px 0;
}

/* --------- SUBSECTION 1 START --------- */
.percentResults {
  margin: 0 auto;
}

.percentResults > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.percentResults div:first-of-type {
  font-weight: 500;
}

.percentResults div:last-of-type {
  color: grey;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.percentExpenses {
  color: #3abcc0;
}

.percentSpend {
  width: 200px;
  height: 10px;
  margin: 0 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
}

.percentSpend div {
  height: 100%;
  width: 0;
  background-color: #3abcc0;
  border-radius: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

/* --------- SUBSECTION 1 END --------- */
/* --------- SUBSECTION 2 START --------- */
/* Subheading under "Expense Summary" */
.subHeading {
  color: grey;
  text-align: center;
}

.subHeading span {
  text-decoration: underline;
}

/* Buttons to toggle between Bar and Pie charts*/
.resultButtons {
  text-align: center;
  margin: 20px auto 40px auto;
  color: #b3b3b3;
  font-size: 1.4rem;
}

.resultButtons button {
  width: 85px;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #b3b3b3;
  border-radius: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.active {
  color: grey;
  border: 1px solid grey;
}

/*  --------- Pie chart start --------- */
.pieChartContainer {
  position: relative;
}

canvas {
  display: none;
  max-width: 290px;
  margin: 20px auto 0 auto;
}

/*  --------- Pie chart end  --------- */
/* --------- Bar chart start  --------- */
/* Bar chart - container*/
.barChartContainer {
  width: 200px;
  text-transform: capitalize;
  margin: 20px auto;
}

.barChartContainer div {
  height: 10px;
}

.barChartContainer li {
  margin: 10px 0;
}

/* Bar chart - fill backgrounds */
.background {
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
}

.background div {
  border-radius: 10px;
}

/* Bar chart - fill colours */
.color {
  width: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

/* --------- Bar chart end --------- */
.warning span,
.warning i {
  color: tomato;
  font-style: oblique;
  line-height: 20px;
}

/* --------- SUBSECTION 2 END --------- */
/*  --------- Footer --------- */
footer {
  padding: 20px 0;
}
