html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GENERIC OVERRIDES */
body,
ul,
li,
h1,
h2,
h3,
fieldset,
button,
p {
  margin: 0;
  padding: 0;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
}

input,
button,
fieldset {
  border: none;
}

.display {
  display: block;
}

.pointer {
  cursor: pointer;
}

/* default wrapper - DON'T CHANGE */
.wrapper {
  width: 80%;
  max-width: 1050px;
  margin: 0 auto;
}

body {
  min-width: 350px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: #3d3d3d;
}

header {
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px 5px #3c3c3c14;
          box-shadow: 0 5px 10px 5px #3c3c3c14;
}

h1 {
  color: #6072ca;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
}

h2,
h3 {
  margin-bottom: 20px;
}

h3,
footer {
  text-align: center;
}

input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main {
  background-color: #eaecee;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  position: relative;
}

.editMenuButton {
  position: absolute;
  top: 40px;
  right: 40px;
}

.form,
.results {
  background-color: white;
  width: 48%;
  min-width: 400px;
  margin-top: 50px;
  border: 0.5px solid none;
  -webkit-box-shadow: 0 0 10px 5px #3c3c3c02;
          box-shadow: 0 0 10px 5px #3c3c3c02;
  padding: 40px;
}

form[name="calculator"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

fieldset {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #e9e9e9;
}

.formLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  text-transform: capitalize;
}

input[type="number"] {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
  padding-left: 20px;
  color: grey;
  background-color: #f0f0f0;
  font-family: inherit;
  /* Hide increment arrows in Firefox */
  -moz-appearance: textfield;
}

input[type="number"]:active, input[type="number"]:focus {
  color: #3a3a3a;
  border: 1px solid #6072ca;
  border-radius: 5px;
}

/* Hide increment arrows in Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputField span {
  text-align: center;
  width: 25px;
  padding: 5px;
  display: inline-block;
  position: absolute;
  color: grey;
}

.inputField button {
  display: none;
  color: #b1b1b1;
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.inputField button:hover, .inputField button:focus {
  color: #ec806d;
}

.formButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.formButtons button {
  margin: 0 5px;
  font-size: 1.4rem;
  color: #575757;
  border: 1px solid #b6b6b6;
  border-radius: 15px;
  background-color: white;
  padding: 5px 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.formButtons button:hover, .formButtons button:active {
  color: #383838;
  -webkit-box-shadow: 0 0 5px 1px #3c3c3c2d;
          box-shadow: 0 0 5px 1px #3c3c3c2d;
}

.fa-plus-circle {
  color: #95c76c;
}

.fa-minus-circle {
  color: #fc8d79;
}

.form button[type="submit"] {
  font-family: inherit;
  font-weight: 600;
  background-color: #ffca1b;
  margin: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form button[type="submit"]:focus, .form button[type="submit"]:hover {
  background-color: #eebf25;
}

.form button[type="reset"] {
  color: #3f3cc9;
  margin: 10px;
}

.form button[type="reset"]:focus, .form button[type="reset"]:hover {
  text-decoration: underline;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #1b1b1b15;
}

.modal form {
  font-size: 1.4rem;
  border: 1px solid #d4d4d4;
  margin: auto;
  height: 150px;
  width: 300px;
  -webkit-box-shadow: 0 0 5px 5px #24242407;
          box-shadow: 0 0 5px 5px #24242407;
  background-color: white;
  position: relative;
}

.modal form > button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal form > button i {
  color: #575757;
  font-size: 1.6rem;
}

.modal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .box1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65%;
}

.modal .box1 label {
  margin-bottom: 5px;
}

.modal .box1 input {
  width: 180px;
  border: 1px solid grey;
  padding: 5px;
  font-family: inherit;
}

.modal .box2 {
  height: 35%;
  border-top: 1px solid #d4d4d4;
  background-color: #f1f1f1;
}

.modal .box2 button {
  color: #3b3b3b;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 5px 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal .box2 button:hover, .modal .box2 button:focus {
  border: 1px solid #3f3cc9;
  color: #3f3cc9;
}

.results > div {
  position: relative;
}

.viewButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: #757575;
}

.viewButton span {
  font-size: 1.4rem;
  margin-right: 10px;
}

.viewToggle {
  height: 15px;
  width: 40px;
  background-color: #a1afff;
  border-radius: 10px;
  cursor: pointer;
}

.viewToggle::after {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #4a62e9;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 2px #2b316857;
          box-shadow: 0 0 5px 2px #2b316857;
  position: absolute;
  top: -2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.move::after {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.subSection1 {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.subSection1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.subSection1 ul li:last-of-type {
  text-align: right;
}

.subSection1 ul p:first-of-type {
  font-weight: 600;
  font-size: 1.8rem;
}

.subSection1 ul p:last-of-type {
  color: grey;
  font-size: 1.5rem;
}

.subSection1,
.subSection2 {
  padding: 20px 0;
}

.subSection2 {
  display: none;
}

.subHeading {
  font-size: 1.4rem;
  text-align: center;
  color: grey;
}

.resultButtons {
  font-size: 2rem;
  text-align: center;
  margin: 10px auto;
}

.resultButtons button {
  color: grey;
  margin: 0 5px;
  padding: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.resultButtons button:hover {
  color: #4a62e9;
}

canvas {
  display: none;
  margin: 20px 0;
}

.percentResults {
  margin: 0 auto;
}

.percentResults > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.percentResults div:first-of-type {
  font-weight: 500;
}

.percentResults div:last-of-type {
  color: grey;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.percentExpenses {
  color: #3abcc0;
}

.percentSpend {
  width: 200px;
  height: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  margin: 0 10px;
}

.percentSpend div {
  height: 100%;
  background-color: #3abcc0;
  border-radius: 10px;
  width: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.background {
  width: 250px;
  height: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
}

.background div {
  border-radius: 10px;
}

.percentages {
  width: 250px;
  margin: 0 auto;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.percentages div {
  height: 10px;
}

.percentages .color {
  width: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.percentages li {
  margin: 10px 0;
}

.tip {
  margin: 0 auto;
  width: 70%;
  line-height: 20px;
}

.tip i {
  color: #ffca1b;
}

.tip p {
  font-size: 1.8rem;
  font-style: oblique;
  color: #3d3d3d;
}

footer {
  background-color: #eaecee;
  font-size: 1.4rem;
  padding: 20px 0;
}

/* MEDIA QUERIES */
/* Small laptop screens */
@media (max-width: 1090px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Tablet screens */
@media (max-width: 768px) {
  .form,
  .results {
    min-width: inherit;
    width: 100%;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2rem;
  }
  .wrapper {
    width: 100%;
  }
  .form,
  .results {
    padding: 30px;
  }
  .formLine label {
    margin-bottom: 5px;
  }
}
